body{
    background-color: white;
}
.corpo{
    min-height: 800px;
}
.colour{
    color: black;
}

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: 50% 30%;
    margin: 1%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: justify;
    border-radius: 15px;
}

#contenitore-info{
    padding: 10px;
    border: 3px solid #3e7b34;
    background-color: darkseagreen;
}

#contenitore-image{
    border: 3px solid #3e7b34;
}