body{
    background-color: white;
}

#containerLuoghiInteresse{
    padding: 28px;
}

.colorBlack{
    color: black;
}

.sfondoVerdeChiaro{
    background-color: rgba(62, 123, 52, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.lista{
    list-style-type: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}