body{
    background-color: white;
}
.corpo{
    min-height: 800px;
}
.colorBlack{
    color: black;
}

.sfondoVerdeChiaro{
    background-color: rgba(62, 123, 52, 0.5);
}

.cardEsperto{
    padding: 10px;
}

#contenitoreCardEsperti{
    padding: 60px;
}

#contenitoreFormEsperti{
    padding: 30px;
}

.campiForm{
    background-color: rgba(62, 123, 52, 0.5);
    border-width: 2px;
    border-color: #3E7B34;
}

.submit{
    background-color: rgba(62, 123, 52, 0.5);
}

.submit:hover{
    background-color: rgba(16, 69, 7);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}