    body{
        background-color: white;
    }
    .descrizioneAzione{
        color: black;
        margin: 20px;
    }
    .listaLuoghi{
        width: 80%;
        margin: 20px;
        border-radius: 10px;
        background-color: darkseagreen;
    }
    .lista{
        list-style-type: none;
    }
    .coloriLink{
        color: white;
    }