body{
    background-color: white;
    height: 100%;
}

.colorBlack{
    color: black;
}
.grid-container {
    margin: 10px;
    display: grid;
    grid-gap: 50px 65px;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: darkseagreen;
}

.button {
    background-color: #3E7B34; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    bottom: 5px;
}