/*header*/
body{
    font-family: "utopia-std";
    font-weight: bold;
    color: white;
    background-color: #3E7B34;
}

#titolo {
    font-size: 60px;
    color: white;
}

.sottotitoli{
    font-size: 22px; !important;
    color: white !important;
}

.stileNavbar{
    background-color: #3E7B34 !important;
}

/*slider*/
.immaginiSlider{
    height: 800px;
}

/*informazioni*/

#info{
    margin-top: 28px;
}

#prossimeEscursioni{
    margin-top: 28px;
    margin-bottom: 28px;
}

h1#titoloBenvenuti{
    font-size: 40px;
    color: white;
}

/*citazione*/
#immagineGreta {
    border-radius: 8.25rem !important;
}

#citazione{
    background-color: #757B73;
    margin-top: 5%;
    padding: 2.5%;
}

.citazioneTesto{
    font-style: italic;
    font-size: 1.2vw;
}

.colorWhite{
    color: white;
}

/*footer*/
#stileFooter{
    background-color: #757B73;
    min-height: 100px;
}

.image-blur{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 90%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


